div.mdl-card__media{
    text-align: center;
    background-color: transparent;
}

img.zcw_image{
    height: 50%;
    width: 50%;
}

div.content{
    text-align: center;

}

div.mdl-card{
    height: 25em;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

div.mdl-button.mdl-button--colored{
    color: black;
}

div.mdl-textfield{
    display: block;
    margin: auto;
}

input.mdl-textfield__input{
    text-align: center;
}

label.mdl-textfield__label{
    text-align: center;
}

div.mdl-card__actions {
    padding-bottom: 0px;
}