<form id="form" action="#">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="usernameInput">
        <label class="mdl-textfield__label" for="usernameInput">Email...</label>
    </div>
</form>
<div class="mdl-card__actions mdl-card--border">
    <div class="mdl-button mdl-button--colored--black mdl-js-button mdl-js-ripple-effect">
        Send Email 
        <i class="material-icons">exit_to_app</i>
    </div>
    <div class="mdl-button mdl-button--colored--black mdl-js-button mdl-js-ripple-effect" (click)="backToLoginBtnClicked()">
        Back To Login
        <i class="material-icons">enhanced_encryption</i>
    </div>
</div>