div.mdl-button.mdl-button--colored{
    color: black;
}

div.mdl-textfield{
    display: block;
    margin: auto;
}

input.mdl-textfield__input{
}

label.mdl-textfield__label{
}

div.mdl-card__actions {
    padding-bottom: 10%;
}

#form{
    padding-bottom: 7%
}